{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block content %}

<section class="container text-center">
  <h3>Welcome</h3>

  <hr> <br>
  <div class="row">
   
<div class="col-md-3">
  <a href="#">
    <div class="card">
      <img class="card-img-top" src="{% static 'images/lecture.png' %}" alt="Notes image">
      <div class="card-body">
        <h5 class="card-title ">
          Classroom
        </h5>
        Welcome to the virtual classroom
      </div>
    </div>
  </a>
</div>

    <div class="col-md-3">
      <a href="homework/">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/assignment.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Assignments
            </h5>
            Course Assignments from lecturers
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3 ">
      <a href="#">
        <div class="card mt-20">
          <img class="card-img-top" src="{% static 'images/books.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Books
            </h5>
            Get access to books from the library
          </div>
        </div>
      </a>
    </div>
    

    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/university.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Academic Advice
            </h5>
            Receive advice for academic excellence and future career success
          </div>
        </div>
      </a>
    </div>
    
  </div>
  <br><br>
<!--
  <div class="row">
    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/dict.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Dictionary
            </h5>
            A vocabulary from a book is troubling you? No problem, enter the word, and the meaning will be displayed
            almost instantaneously.
          </div>
        </div>
      </a>
    </div>
  -->
    <!--
    <div class="col-md-3">
      <a href="youtube/">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/search.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Youtube
            </h5>
            Search Youtube and select your desired video to play it on youtube
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/wikipedia.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              WikiPedia
            </h5>
            Homework and Assignments? Search wikipedia to get fast results
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/calculator.png' %}" alt="Notes image">
          <div class="card-body">
            <h5 class="card-title ">
              Calculator
            </h5>
            Simplify your computations with ease! Tackle mathematical challenges swiftly
          </div>
        </div>
      </a>
    </div>
    </div>
  -->


<div class="row">
  <div class="col-md-3">
    <a href="#">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/tst.jpeg' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title">
            Online Test 
          </h5>
          Stay tuned for upcoming online test
        </div>
      </div>
    </a>
  </div>




  <div class="col-md-3">
    <a href="notes/">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/notepad.png' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title ">
            Notes
          </h5>
          Get access to the uploaded notes from lecturers
        </div>
      </div>
    </a>
  </div>



  <div class="col-md-3">
    <a href="#">
      <div class="card">
        <img class="card-img-top" src="{% static 'images/cmt.jpeg' %}" alt="Notes image">
        <div class="card-body">
          <h5 class="card-title ">
            Community Forum
          </h5>
          Engage with a community of learners to share insights and experiences.
        </div>
      </div>
    </a>
  </div>


  <div class="col-md-3">
    <a href="todo/">
      <div class="card">
        <i class="icofont-list"></i>
      
        <img class="card-img-top" src="{% static 'images/ann.png' %}" alt="Notes image">
      
        <div class="card-body">
          <h5 class="card-title ">
            Announcement
          </h5>
          Stay tuned for new updates
        </div>
      </div>
    </a>
  </div>
</div>


</section>
{% endblock content %}